:root {
  --primary: var(--blue-black);

  --text-primary: var(--blue-black);
  --text-negative: #fff;
  --heading-primary: var(--dark-blue);
  --bg-primary: var(--gray-10);
  --focus-outline-primary: var(--blue-black);

  --toolbar-bg: #fff;
  --footer-bg: var(--gray-5);
  --page-header-bg: #fff;

  /* Button colors */
  --button-solid-bg: var(--blue-black);
  --button-solid-bg-hover: var(--black-9);
  --button-outline: var(--blue-black);
  --button-outline-hover: var(--black-9);
  --button-solid-hover: var(--black-70);
  --button-toggled-bg: var(--black-9);

  /* Radio buttons */
  --radio-button-agree: var(--success);
  --radio-button-disagree: var(--error);
  --radio-background: var(--gray-30);
  --radio-agree: var(--success);
  --radio-disagree: var(--error);

  /* Cards */
  --card-bg: #fff;
  --section-card-header-border: 1px solid var(--gray-5); /* rgb(74, 79, 84) */
  --tag-bg: var(--blue-black);
  --tag-text: var(--text-negative);

  /* Candidate answers */
  --candidate-comment-bg: #e8e9eb;
  --candidate-answer-number-bg: var(--gray-5);
  --candidate-img-placeholder: var(--gray-10);
}
